/* ========================== Component Name ========================== */
$component: .features-46;

/* ========================== Order: ========================== */

/*
 * Base
 * Modifiers
 * Breakpoints
 * Component Options
 * Themes
 */

/* ========================== Component Base: ========================== */

$(component) {
  @apply relative w-full my-8 mx-auto;
  
  &__wrap {
    @apply relative w-full mx-auto py-24 px-12 max-w-screen-xl text-wire-dark bg-wire-light;
    display: grid;
    grid-gap: 2rem;
  }

  &__images {
    grid-area: 1 / 1 / span 1 / span 1;
  }

  &__main-img {
    width: 100%;
  }

  &__thumbnails {

  }

  &__controls {

  }

  &__copy {
    grid-area: 1 / 1 / span 1 / span 1;
    @apply py-12 px-12;
  }

  /* ========================== Modifiers ========================== */

  /* ========================== Breakpoints ========================== */

  @screen sm {

  }

  @screen md  {

    &__wrap {
      grid-template-columns: repeat(2, 1fr);
      @apply px-12;
    }

    &__images {
      grid-column:1;

    }

    &__main-img {

    }

    &__copy {
      grid-column:2;
      @apply py-24 px-0;
    }

    &__thumbnails {
      
    }
  
    &__controls {
      
    }
  
  }

  @screen lg  {

  }

  @screen xl  {

  }

  @screen xxl  {

  }

  /* ========================== Component: Options ========================== */

  /* ========================== Themes ========================== */
}

/* ========================== INSTANCE OVERRIDES ========================== */

$(component).someClass {
  $(component)__wrap {

  }
}
